<div style="background-image: url('https://img.lovepik.com/background/20211022/large/lovepik-purple-gradient-background-image_401735609.jpg');padding:10px; border-radius: 10px; box-shadow: 2px 2px 4px #000000;">
    <h1 style="color:white;text-align:center;text-shadow: 2px 2px 4px #000000;font-weight: bold;">Defining The Question.</h1>
    <h2 style="color:white;text-align:center;text-shadow: 2px 2px 4px #000000;font-weight: bold;">Group 1</h2>
    <h3 style="color:white;text-align:center;text-shadow: 2px 2px 4px #000000;font-weight: bold;">Date: 06/09/2023</h3>
    <h4 style="color:white;text-align:center;text-shadow: 2px 2px 4px #000000;font-weight: bold;">Elsie Ochieng, Richard Taracha, Cindy King'ori, Peter Muthoma </h4>
</div>

### a) Specifying the Data Analysis Question

- Identify factors that contribute to the average price of a house
- Build a multiple linear regression model to predict the house price.
- Check for the assumptions of your model as well as perform k-fold (k=10) cross-validation while challenging the solution

---

### b) Defining the Metric for Success

**The project will be considered a success when we are able to fit linear regression to our data and make predictions.**

**While performing model selection/diagnosis, we was required to perform the following steps in an effort to check for the following assumptions:**

- Assess the linearity of the model (parameters)
- Assess heteroskedasticity
- Assess the normality of residual distribution
- Assess multicollinearity

---

### c) Understanding the Context 

**If you want to work for a top company in Seattle, you might be curious about how much it costs to live in King County. This is the largest and most populated county in Washington State, where Seattle and its suburbs are located. About 10 Fortune 500 Companies have their headquarters here, such as Starbucks, Nordstrom, Alaska Airlines, Costco, Expedia, Microsoft, and Amazon. Microsoft and Amazon are among the Big Five tech companies that many people aspire to join.**

**But finding a house in King County is not easy. There are many factors that affect the price, such as the number of bedrooms, bathrooms, and floors. You might have a different preference than someone else. Wouldn't it be nice if you could estimate the price of your ideal house based on the features you want? That way, you could plan ahead and make your dream house a reality.**

### d) Recording the Experimental Design

1. Load libraries and dataset.
2. Perform data cleaning where necessary.
3. Exploratory Data Analysis.
4. Compute correlations and drop highly correlated variables.
5. Split into 80% train and 20% test sets, apply Linear Regression, and make predictions.
6. Calculate RMSE and R-squared values.
7. Interpret and summarize findings.
10

. Challenge the solution.
7. Provide recommendations.

---

### e) Data Relevance & Acknowledgement.

**These dataset provided was aggregated from a number of sources including the American Community Survey (census.gov), clinicaltrials.gov, and cancer.gov.** 

**Project Sources:**
- https://data.kingcounty.gov/
- https://www.kaggle.com/datasets/harlfoxem/housesalesprediction

**The data was relevant to answering the question.**

---

<table>
  <thead>
    <tr>
      <th>Column Name</th>
      <th>Data Type</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>id</td>
      <td>Unique identifier of the house</td>
    </tr>
    <tr>
      <td>date</td>
      <td>Date of sale</td>
    </tr>
    <tr>
      <td>price</td>
      <td>Sell price</td>
    </tr>
    <tr>
      <td>bedrooms</td>
      <td>Number of bedrooms</td>
    </tr>
    <tr>
      <td>bathrooms</td>
      <td>Number of bathrooms</td>
    </tr>
    <tr>
      <td>sqft_liv</td>
      <td>Size of interior space in square feet</td>
    </tr>
    <tr>
      <td>sqft_lot</td>
      <td>Size of land lot in square feet</td>
    </tr>
    <tr>
      <td>floors</td>
      <td>Number of floors</td>
    </tr>
    <tr>
      <td>waterfront</td>
      <td>'1' if property has a waterfront, '0' if not</td>
    </tr>
    <tr>
      <td>view</td>
      <td>An index from 0 to 4 of how good the property's view is</td>
    </tr>
    <tr>
      <td>condition</td>
      <td>Condition of the house, ranked from 1 to 5, 5 being the greatest condition</td>
    </tr>
    <tr>
      <td>grade</td>
      <td>Classification by construction material and worksmanship quality. Numeric scale with higher numbers being better. For more information see the King County glossary</td>
    </tr>
    <tr>
      <td>sqft_above</td>
      <td>Square feet above ground</td>
    </tr>
    <tr>
      <td>sqft_below</td>
      <td>Square feet below ground</td>
    </tr>
    <tr>
      <td>yr_built</td>
      <td>Year built</td>
    </tr>
    <tr>
      <td>yr_renov</td>
      <td>Year renovated. '0' if never renovated</td>
    </tr>
    <tr>
      <td>zipcode</td>
      <td>5 digit zip code</td>
    </tr>
    <tr>
      <td>lat</td>
      <td>Latitude</td>
    </tr>
    <tr>
      <td>long</td>
      <td>Longitude</td>
    </tr>
    <tr>
      <td>squft_liv15</td>
      <td>Average size of interior space for closest 15 houses, in square feet</td>
    </tr>
    <tr>
      <td>squft_lot15</td>
      <td>Average size of land lot for closest 15 houses, in square feet</td>
    </tr>
  </tbody>
</table>

In [3]:
# loading libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px
import plotly.graph_objects as go
import seaborn as sns

import scipy.stats as sp

from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, MinMaxScaler, RobustScaler, OneHotEncoder, LabelEncoder, OrdinalEncoder
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV, RandomizedSearchCV, KFold, StratifiedKFold, cross_validate
from sklearn.linear_model import LinearRegression, Ridge
from sklearn.ensemble import RandomForestRegressor,AdaBoostRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import SVR
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import Lasso



from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
from ipywidgets import Dropdown, FloatSlider, IntSlider, interact
from sklearn.pipeline import Pipeline, make_pipeline


# Show all columns (instead of cascading columns in the middle)
pd.set_option("display.max_columns", None)
pd.set_option('display.max_colwidth', None)
# Don't show numbers as scientific notation
pd.set_option("display.float_format", "{:.2f}".format)

%matplotlib inline

import warnings
warnings.filterwarnings("ignore")

In [4]:
df = pd.read_csv('data\kc_house_data.csv')

df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,10/13/2014,221900.00,3,1.00,1180,5650,1.00,NaN,NONE,Average,7 Average,1180,0.0,1955,0.00,98178,47.51,-122.26,1340,5650
1,6414100192,12/9/2014,538000.00,3,2.25,2570,7242,2.00,NO,NONE,Average,7 Average,2170,400.0,1951,1991.00,98125,47.72,-122.32,1690,7639
2,5631500400,2/25/2015,180000.00,2,1.00,770,10000,1.00,NO,NONE,Average,6 Low Average,770,0.0,1933,NaN,98028,47.74,-122.23,2720,8062
3,2487200875,12/9/2014,604000.00,4,3.00,1960,5000,1.00,NO,NONE,Very Good,7 Average,1050,910.0,1965,0.00,98136,47.52,-122.39,1360,5000
4,1954400510,2/18/2015,510000.00,3,2.00,1680,8080,1.00,NO,NONE,Average,8 Good,1680,0.0,1987,0.00,98074,47.62,-122.05,1800,7503

In [5]:
df["date"] = pd.to_datetime(df.date)
df["year"] = df.date.dt.year
df["month"] = df.date.dt.month
df["day"] = df.date.dt.day
df["day_of_week"] = df.date.dt.day_name()
df = df.drop("date", axis=1)

df["is_renovated"] = np.where(df.yr_renovated == 0, 0, 1)
df["yr_renovated"] = df.yr_renovated.replace(to_replace=0, value=np.nan)

df

I can hear you

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,year,month,day,day_of_week,is_renovated
0,7129300520,221900.00,3,1.00,1180,5650,1.00,NaN,NONE,Average,7 Average,1180,0.0,1955,NaN,98178,47.51,-122.26,1340,5650,2014,10,13,Monday,0
1,6414100192,538000.00,3,2.25,2570,7242,2.00,NO,NONE,Average,7 Average,2170,400.0,1951,1991.00,98125,47.72,-122.32,1690,7639,2014,12,9,Tuesday,1
2,5631500400,180000.00,2,1.00,770,10000,1.00,NO,NONE,Average,6 Low Average,770,0.0,1933,NaN,98028,47.74,-122.23,2720,8062,2015,2,25,Wednesday,1
3,2487200875,604000.00,4,3.00,1960,5000,1.00,NO,NONE,Very Good,7 Average,1050,910.0,1965,NaN,98136,47.52,-122.39,1360,5000,2014,12,9,Tuesday,0
4,1954400510,510000.00,3,2.00,1680,8080,1.00,NO,NONE,Average,8 Good,1680,0.0,1987,NaN,98074,47.62,-122.05,1800,7503,2015,2,18,Wednesday,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21592,263000018,360000.00,3,2.50,1530,1131,3.00,NO,NONE,Average,8 Good,1530,0.0,2009,NaN,98103,47.70,-122.35,1530,1509,2014,5,21,Wednesday,0
21593,6600060120,400000.00,4,2.50,2310,5813,2.00,NO,NONE,Average,8 Good,2310,0.0,2014,NaN,98146,47.51,-122.36,1830,7200,2015,2,23,Monday,0
21594,1523300141,402101.00,2,0.75,1020,1350,2.00,NO,NONE,Average,7 Average,1020,0.0,2009,NaN,98144,47.59,-122.30,1020,2007,2014,6,23,Monday,0
21595,291310100,400000.00,3,2.50,1600,2388,2.00,NaN,NONE,Average,8 Good,1600,0.0,2004,NaN,98027,47.53,-122.07,1410,1287,2015,1,16,Friday,0
21596,1523300157,325000.00,2,0.75,1020,1076,2.00,NO,NONE,Average,7 Average,1020,0.0,2008,NaN,98144,47.59,-122.30,1020,1357,2014,10,15,Wednesday,0

In [24]:
df['sqft_basement'].values

array(['0.0', '400.0', '0.0', ..., '0.0', '0.0', '0.0'], dtype=object)

In [9]:
df[df['bedrooms'] == 33]

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,year,month,day,day_of_week,is_renovated
15856,2402100895,640000.00,33,1.75,1620,6000,1.00,NO,NONE,Very Good,7 Average,1040,580.0,1947,NaN,98103,47.69,-122.33,1330,4700,2014,6,25,Wednesday,0

In [17]:
df.shape

(21597, 25)

In [15]:
df.isnull().sum()

id                   0
price                0
bedrooms             0
bathrooms            0
sqft_living          0
sqft_lot             0
floors               0
waterfront        2376
view                63
condition            0
grade                0
sqft_above           0
sqft_basement        0
yr_built             0
yr_renovated     20853
zipcode              0
lat                  0
long                 0
sqft_living15        0
sqft_lot15           0
year                 0
month                0
day                  0
day_of_week          0
is_renovated         0
dtype: int64

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21597 entries, 0 to 21596
Data columns (total 25 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21597 non-null  int64
 1   price          21597 non-null  float64
 2   bedrooms       21597 non-null  int64
 3   bathrooms      21597 non-null  float64
 4   sqft_living    21597 non-null  int64
 5   sqft_lot       21597 non-null  int64
 6   floors         21597 non-null  float64
 7   waterfront     19221 non-null  object
 8   view           21534 non-null  object
 9   condition      21597 non-null  object
 10  grade          21597 non-null  object
 11  sqft_above     21597 non-null  int64
 12  sqft_basement  21597 non-null  object
 13  yr_built       21597 non-null  int64
 14  yr_renovated   744 non-null    float64
 15  zipcode        21597 non-null  int64
 16  lat            21597 non-null  float64
 17  long           21597 non-null  float64
 18  sqft_living15  21597 non-null  int64
 19  sqft_lot15     21597 non-null  int64
 20  year           21597 non-null  int64
 21  month          21597 non-null  int64
 22  day            21597 non-null  int64
 23  day_of_week    21597 non-null  object
 24  is_renovated   21597 non-null  int32
dtypes: float64(6), int32(1), int64(12), object(6)
memory usage: 4.0+ MB

In [18]:
df.duplicated().sum()

0

In [19]:
# Getting the records with outliers
q1 = df.quantile(0.25)
q3 = df.quantile(0.75)
iqr = q3 - q1

outliers_df = df[((df < (q1 - 1.5 * iqr)) | (df > (q3 + 1.5 * iqr))).any(axis = 1)]
print(outliers_df.shape)
outliers_df.sample(5)

(7969, 25)

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,year,month,day,day_of_week,is_renovated
1730,8081500060,1930000.00,4,3.25,4280,20296,2.00,NaN,NONE,Good,11 Excellent,4280,0.0,1984,NaN,98004,47.64,-122.21,3420,16351,2014,10,1,Wednesday,0
10563,1223089050,280000.00,3,1.75,1630,11800,1.00,NO,NONE,Good,7 Average,1630,0.0,1971,NaN,98045,47.49,-121.73,2090,57428,2014,5,6,Tuesday,0
10112,7852020800,465000.00,3,2.50,1890,4808,2.00,NO,NONE,Average,8 Good,1890,0.0,2000,NaN,98065,47.53,-121.87,2460,5348,2015,4,2,Thursday,1
15467,8956500020,338000.00,3,2.50,1590,7819,2.00,NO,NONE,Average,7 Average,1590,0.0,1992,NaN,98055,47.44,-122.20,1790,7733,2014,8,18,Monday,1
19989,148000475,1400000.00,4,3.25,4700,9160,1.00,NO,NaN,Average,11 Excellent,2520,2180.0,2005,NaN,98116,47.57,-122.41,2240,8700,2014,5,28,Wednesday,0

Sqft Basement

# <font color='goldenrod'>3. Explore</font>