## Final Project Submission

Please fill out:
* Student name: 
* Student pace: self paced / part time / full time
* Scheduled project review date/time: 
* Instructor name: 
* Blog post URL:

In [ ]:
# Your code here - remember to use markdown cells for comments as well!

# Business Problem

#### Real estate market is a trillion dollar industry globally that is valued at USD 3.69 trillion as of 2021 and is expected to have an annual growth rate of 5.2% till 2030. This is a very healthy growth rate that ensures profitable returns to potential investors in the field.

## Data Cleaning

In [2]:
#Importing the required libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt
%matplotlib inline

In [23]:
# Load the data using pandas
housing_df = pd.read_csv('Data/kc_house_data.csv')
housing_df

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,10/13/2014,221900.0,3,1.00,1180,5650,1.0,NaN,NONE,...,7 Average,1180,0.0,1955,0.0,98178,47.5112,-122.257,1340,5650
1,6414100192,12/9/2014,538000.0,3,2.25,2570,7242,2.0,NO,NONE,...,7 Average,2170,400.0,1951,1991.0,98125,47.7210,-122.319,1690,7639
2,5631500400,2/25/2015,180000.0,2,1.00,770,10000,1.0,NO,NONE,...,6 Low Average,770,0.0,1933,NaN,98028,47.7379,-122.233,2720,8062
3,2487200875,12/9/2014,604000.0,4,3.00,1960,5000,1.0,NO,NONE,...,7 Average,1050,910.0,1965,0.0,98136,47.5208,-122.393,1360,5000
4,1954400510,2/18/2015,510000.0,3,2.00,1680,8080,1.0,NO,NONE,...,8 Good,1680,0.0,1987,0.0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21592,263000018,5/21/2014,360000.0,3,2.50,1530,1131,3.0,NO,NONE,...,8 Good,1530,0.0,2009,0.0,98103,47.6993,-122.346,1530,1509
21593,6600060120,2/23/2015,400000.0,4,2.50,2310,5813,2.0,NO,NONE,...,8 Good,2310,0.0,2014,0.0,98146,47.5107,-122.362,1830,7200
21594,1523300141,6/23/2014,402101.0,2,0.75,1020,1350,2.0,NO,NONE,...,7 Average,1020,0.0,2009,0.0,98144,47.5944,-122.299,1020,2007
21595,291310100,1/16/2015,400000.0,3,2.50,1600,2388,2.0,NaN,NONE,...,8 Good,1600,0.0,2004,0.0,98027,47.5345,-122.069,1410,1287
21596,1523300157,10/15/2014,325000.0,2,0.75,1020,1076,2.0,NO,NONE,...,7 Average,1020,0.0,2008,0.0,98144,47.5941,-122.299,1020,1357

# Data Understanding

In [24]:
# Checking the number of rows and columns
housing_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21597 entries, 0 to 21596
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21597 non-null  int64
 1   date           21597 non-null  object
 2   price          21597 non-null  float64
 3   bedrooms       21597 non-null  int64
 4   bathrooms      21597 non-null  float64
 5   sqft_living    21597 non-null  int64
 6   sqft_lot       21597 non-null  int64
 7   floors         21597 non-null  float64
 8   waterfront     19221 non-null  object
 9   view           21534 non-null  object
 10  condition      21597 non-null  object
 11  grade          21597 non-null  object
 12  sqft_above     21597 non-null  int64
 13  sqft_basement  21597 non-null  object
 14  yr_built       21597 non-null  int64
 15  yr_renovated   17755 non-null  float64
 16  zipcode        21597 non-null  int64
 17  lat            21597 non-null  float64
 18  long           21597 non-null  float64
 19  sqft_living15  21597 non-null  int64
 20  sqft_lot15     21597 non-null  int64
dtypes: float64(6), int64(9), object(6)
memory usage: 3.5+ MB

In [25]:
#Data shape
housing_df.shape

(21597, 21)

In [26]:
housing_df.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,sqft_above,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.159700e+04,2.159700e+04,21597.000000,21597.000000,21597.000000,2.159700e+04,21597.000000,21597.000000,21597.000000,17755.000000,21597.000000,21597.000000,21597.000000,21597.000000,21597.000000
mean,4.580474e+09,5.402966e+05,3.373200,2.115826,2080.321850,1.509941e+04,1.494096,1788.596842,1970.999676,83.636778,98077.951845,47.560093,-122.213982,1986.620318,12758.283512
std,2.876736e+09,3.673681e+05,0.926299,0.768984,918.106125,4.141264e+04,0.539683,827.759761,29.375234,399.946414,53.513072,0.138552,0.140724,685.230472,27274.441950
min,1.000102e+06,7.800000e+04,1.000000,0.500000,370.000000,5.200000e+02,1.000000,370.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.220000e+05,3.000000,1.750000,1430.000000,5.040000e+03,1.000000,1190.000000,1951.000000,0.000000,98033.000000,47.471100,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,1560.000000,1975.000000,0.000000,98065.000000,47.571800,-122.231000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068500e+04,2.000000,2210.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,9410.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

In [27]:
# Check the missing values
housing_df.isna().sum()

id                  0
date                0
price               0
bedrooms            0
bathrooms           0
sqft_living         0
sqft_lot            0
floors              0
waterfront       2376
view               63
condition           0
grade               0
sqft_above          0
sqft_basement       0
yr_built            0
yr_renovated     3842
zipcode             0
lat                 0
long                0
sqft_living15       0
sqft_lot15          0
dtype: int64

In [28]:
housing_df_missing = (housing_df.isna().sum() / len(housing_df)) * 100
print(housing_df_missing)

id                0.000000
date              0.000000
price             0.000000
bedrooms          0.000000
bathrooms         0.000000
sqft_living       0.000000
sqft_lot          0.000000
floors            0.000000
waterfront       11.001528
view              0.291707
condition         0.000000
grade             0.000000
sqft_above        0.000000
sqft_basement     0.000000
yr_built          0.000000
yr_renovated     17.789508
zipcode           0.000000
lat               0.000000
long              0.000000
sqft_living15     0.000000
sqft_lot15        0.000000
dtype: float64

In [29]:
#Drop rows with more than 2 null values
housing_df_cleaned = housing_df.dropna(subset=['waterfront', 'view', 'yr_renovated'])
housing_df_cleaned.isna().sum()

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

In [30]:
housing_df_cleaned.shape

(15762, 21)

In [31]:
housing_df_cleaned.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
1,6414100192,12/9/2014,538000.0,3,2.25,2570,7242,2.0,NO,NONE,...,7 Average,2170,400.0,1951,1991.0,98125,47.7210,-122.319,1690,7639
3,2487200875,12/9/2014,604000.0,4,3.00,1960,5000,1.0,NO,NONE,...,7 Average,1050,910.0,1965,0.0,98136,47.5208,-122.393,1360,5000
4,1954400510,2/18/2015,510000.0,3,2.00,1680,8080,1.0,NO,NONE,...,8 Good,1680,0.0,1987,0.0,98074,47.6168,-122.045,1800,7503
5,7237550310,5/12/2014,1230000.0,4,4.50,5420,101930,1.0,NO,NONE,...,11 Excellent,3890,1530.0,2001,0.0,98053,47.6561,-122.005,4760,101930
6,1321400060,6/27/2014,257500.0,3,2.25,1715,6819,2.0,NO,NONE,...,7 Average,1715,?,1995,0.0,98003,47.3097,-122.327,2238,6819

In [32]:
grade = housing_df_cleaned['grade']
grade

1           7 Average
3           7 Average
4              8 Good
5        11 Excellent
6           7 Average
             ...
21591          8 Good
21592          8 Good
21593          8 Good
21594       7 Average
21596       7 Average
Name: grade, Length: 15762, dtype: object

In [33]:
# Split the 'Grade' column by whitespace and get the first part
housing_df_cleaned['grade'] = housing_df_cleaned['grade'].str.split().str.get(0)

# Convert the 'Number' column to integers (if needed)
housing_df_cleaned['grade'] = housing_df_cleaned['grade'].astype(int)

# Display the DataFrame with the extracted numeric part
print(housing_df_cleaned['grade'])

1         7
3         7
4         8
5        11
6         7
         ..
21591     8
21592     8
21593     8
21594     7
21596     7
Name: grade, Length: 15762, dtype: int64

<ipython-input-33-747d33518b74>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  housing_df_cleaned['grade'] = housing_df_cleaned['grade'].str.split().str.get(0)
<ipython-input-33-747d33518b74>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  housing_df_cleaned['grade'] = housing_df_cleaned['grade'].astype(int)

In [34]:
housing_df_cleaned.count()

id               15762
date             15762
price            15762
bedrooms         15762
bathrooms        15762
sqft_living      15762
sqft_lot         15762
floors           15762
waterfront       15762
view             15762
condition        15762
grade            15762
sqft_above       15762
sqft_basement    15762
yr_built         15762
yr_renovated     15762
zipcode          15762
lat              15762
long             15762
sqft_living15    15762
sqft_lot15       15762
dtype: int64

In [36]:
housing_df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15762 entries, 1 to 21596
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             15762 non-null  int64
 1   date           15762 non-null  object
 2   price          15762 non-null  float64
 3   bedrooms       15762 non-null  int64
 4   bathrooms      15762 non-null  float64
 5   sqft_living    15762 non-null  int64
 6   sqft_lot       15762 non-null  int64
 7   floors         15762 non-null  float64
 8   waterfront     15762 non-null  object
 9   view           15762 non-null  object
 10  condition      15762 non-null  object
 11  grade          15762 non-null  int64
 12  sqft_above     15762 non-null  int64
 13  sqft_basement  15762 non-null  object
 14  yr_built       15762 non-null  int64
 15  yr_renovated   15762 non-null  float64
 16  zipcode        15762 non-null  int64
 17  lat            15762 non-null  float64
 18  long           15762 non-null  float64
 19  sqft_living15  15762 non-null  int64
 20  sqft_lot15     15762 non-null  int64
dtypes: float64(6), int64(10), object(5)
memory usage: 2.6+ MB

In [37]:
#convert_columns to integers
columns_to_convert = ['bathrooms','floors','yr_renovated']
housing_df_cleaned[columns_to_convert] = housing_df_cleaned[columns_to_convert].astype(int)
housing_df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15762 entries, 1 to 21596
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             15762 non-null  int64
 1   date           15762 non-null  object
 2   price          15762 non-null  float64
 3   bedrooms       15762 non-null  int64
 4   bathrooms      15762 non-null  int64
 5   sqft_living    15762 non-null  int64
 6   sqft_lot       15762 non-null  int64
 7   floors         15762 non-null  int64
 8   waterfront     15762 non-null  object
 9   view           15762 non-null  object
 10  condition      15762 non-null  object
 11  grade          15762 non-null  int64
 12  sqft_above     15762 non-null  int64
 13  sqft_basement  15762 non-null  object
 14  yr_built       15762 non-null  int64
 15  yr_renovated   15762 non-null  int64
 16  zipcode        15762 non-null  int64
 17  lat            15762 non-null  float64
 18  long           15762 non-null  float64
 19  sqft_living15  15762 non-null  int64
 20  sqft_lot15     15762 non-null  int64
dtypes: float64(3), int64(13), object(5)
memory usage: 2.6+ MB

/Users/dominic/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/pandas/core/frame.py:3065: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [40]:
#convert neccesarry columns from integer to float
columns_to_convert_ = ['sqft_living', 'sqft_lot', 'sqft_above', 'sqft_basement', 'sqft_living15', 'sqft_lot15']
housing_df_cleaned.replace('?', np.nan, inplace=True)
housing_df_cleaned[columns_to_convert_] = housing_df_cleaned[columns_to_convert_].astype(float)

# Convert the 'Date' column to datetime
housing_df_cleaned['date'] = pd.to_datetime(housing_df_cleaned['date'])
housing_df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15762 entries, 1 to 21596
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             15762 non-null  int64
 1   date           15762 non-null  datetime64[ns]
 2   price          15762 non-null  float64
 3   bedrooms       15762 non-null  int64
 4   bathrooms      15762 non-null  int64
 5   sqft_living    15762 non-null  float64
 6   sqft_lot       15762 non-null  float64
 7   floors         15762 non-null  int64
 8   waterfront     15762 non-null  object
 9   view           15762 non-null  object
 10  condition      15762 non-null  object
 11  grade          15762 non-null  int64
 12  sqft_above     15762 non-null  float64
 13  sqft_basement  15429 non-null  float64
 14  yr_built       15762 non-null  int64
 15  yr_renovated   15762 non-null  int64
 16  zipcode        15762 non-null  int64
 17  lat            15762 non-null  float64
 18  long           15762 non-null  float64
 19  sqft_living15  15762 non-null  float64
 20  sqft_lot15     15762 non-null  float64
dtypes: datetime64[ns](1), float64(9), int64(8), object(3)
memory usage: 2.6+ MB

<ipython-input-40-ac82ec07ce2a>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  housing_df_cleaned['date'] = pd.to_datetime(housing_df_cleaned['date'])

In [41]:
# Save cleaned data to a folder
folder_path = 'Data'
file = 'kc_house_cleaned_data.csv'
file_path = f"{folder_path}/{file}"

# Write the DataFrame to a CSV file in the specified folder
housing_df_cleaned.to_csv(file_path, index=False)

# Provide feedback to confirm that the data has been saved
print(f"Data has been saved to {file_path}")

Data has been saved to Data/kc_house_cleaned_data.csv