## Final Project Submission

Please fill out:
* Student name: Joel Omondi, Aaron Onserio, James Mbeti, Victoria Nabea, Nyokabi Waiganjo, Kennedy Juma
* Student pace: full time
* Scheduled project review date/time: 20/04/2023
* Instructor name: Lucille Kaleha
* Blog post URL:

# **VALUE ANALYSIS FOR HOUSE SALE PRICES IN KING COUNTY**

## **Business Overview**
## _Will your home renovations pay off?_

>> ### **Introduction**

* In this project, the task is to undertake research on property market in King County and to determine the major factors for the houses within the neighbourhoods for a real estate agency.

* The objective of this project is to utilize multiple linear regression modeling to evaluate house sales data in King County Washington, USA. The aim is to gain insights and make predictions about the factors that affect house sales in the area as well as lucrative neighbourhoods to invest in while using statistical techniques to support relevant recommendations.

* Remodeling certain areas of a property is an excellent way for homeowners to add increased functionality and beauty to a property at someone else's expense. By choosing the right project to enhance your living space, a significant portion of the expense can be passed on to future owners in the form of increased property values

>> ### **Business Problem / Problem Statement**

The real estate agency needs to provide advice to homeowners regarding how home renovations can potentially increase the estimated value of their properties and homes and by what amount. This information will assist the real estate agency in advising their clients about how to make informed decisions regarding home renovations, and in turn, assist homeowners in maximizing the return on their investment when selling their properties.

>> ### **Proposal**

* We will focus on analysing house sales in a northwestern county for a possible stakeholder, a real estate agency helping homeowners buy and/or sell homes. Specifically, we will address the business problem of providing homeowners advice on how home renovations can increase the estimated value of their homes and by what amount.

*

## **Data Understanding**

* This project uses the King County House Sales dataset, which can be found in "kc_house_data.csv"

* One of the challenges that may arise in this project is the incomplete or ambiguous description of the column names in the dataset. However, with thorough research or good judgment, we can understand the data and make informed decisions on which variables to use in our analysis. 

* Another challenge is ensuring that the linear regression model we develop adds value to our analysis, rather than simply fulfilling the project's requirement. 

* The dataset includes information on house sales in King County such as the prices, the design, the size in square footages, the location etc. Others can be found at ['Property Schema'](https://github.com/learn-co-curriculum/dsc-phase-2-project-v2-3/blob/main/data/column_names.md)

### *Objectives*

* To determine the increase in prices of property due to renovations.

* To define a clear stakeholder and business problem that relates to the King County House Sales dataset, and to use this problem to guide the analysis and modelling process.

* To build and evaluate multiple linear regression models using various combinations of the available features in the dataset, with the aim of identifying the most relevant and impactful features for predicting house sale prices.

* To use appropriate statistical techniques to refine and optimize the regression models, and to clearly explain the rationale behind each technique used.

* To demonstrate an iterative approach to modelling, documenting each stage of the process and providing justification for each model modification .

* To provide a final documentation that includes a detailed analysis of the chosen model, including relevant metrics describing overall model performance and the coefficients of the most impactful features, and a clear explanation of how the model adds value to the stakeholder and the appropriate recommendations.

### *Metric of Success* 

The final step in evaluating the quality of the model is cross-validation, which gives us an idea of how the model would perform with new data for the same variables.  one that the model will be trained on, and another that it will be tested on. By default, the function takes 75% of the data as the training subset and the other 25% as its test subset.

## **Data Preparation**

In [1]:
# Importing relevant libraries

# Pandas for reading the data and analysis
import pandas as pd

# Numpy for numbers
import numpy as np

# Seaborn and Matplotlib for Visualization
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.cm as cm
%matplotlib nbagg
%matplotlib inline

# Statsmodels and Scipy for Statistical Analysis
from statsmodels.stats.power import TTestIndPower, TTestPower
import statsmodels.api as sm
import statsmodels.formula.api as smf
from scipy import stats
from sklearn.preprocessing import PolynomialFeatures, StandardScaler
from sklearn.metrics import mean_absolute_error, mean_squared_error

# Warnings to remove warnings
import warnings
warnings.filterwarnings("ignore")

### Reading the data

* The below code reads the CSV file 'kc_house_data.csv'  using the pandas library. The data is loaded into a pandas DataFrame object named 'df'. It then views the first few rows. 

* The cells that follow check for overview information on the data and then calls for descriptive statistics of the dataset.

* Other important checks include checking the shape of the data, checking the columns and checking for duplicated entries as well as drops them permanently from the dataset.

In [2]:
# Viewing the data
def read_data(path):
    """A simple function to read our data"""
    data = pd.read_csv(path)
    
    return data

    
df = read_data('kc_house_data.csv')
df

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,10/13/2014,221900.0,3,1.00,1180,5650,1.0,NaN,NONE,...,7 Average,1180,0.0,1955,0.0,98178,47.5112,-122.257,1340,5650
1,6414100192,12/9/2014,538000.0,3,2.25,2570,7242,2.0,NO,NONE,...,7 Average,2170,400.0,1951,1991.0,98125,47.7210,-122.319,1690,7639
2,5631500400,2/25/2015,180000.0,2,1.00,770,10000,1.0,NO,NONE,...,6 Low Average,770,0.0,1933,NaN,98028,47.7379,-122.233,2720,8062
3,2487200875,12/9/2014,604000.0,4,3.00,1960,5000,1.0,NO,NONE,...,7 Average,1050,910.0,1965,0.0,98136,47.5208,-122.393,1360,5000
4,1954400510,2/18/2015,510000.0,3,2.00,1680,8080,1.0,NO,NONE,...,8 Good,1680,0.0,1987,0.0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21592,263000018,5/21/2014,360000.0,3,2.50,1530,1131,3.0,NO,NONE,...,8 Good,1530,0.0,2009,0.0,98103,47.6993,-122.346,1530,1509
21593,6600060120,2/23/2015,400000.0,4,2.50,2310,5813,2.0,NO,NONE,...,8 Good,2310,0.0,2014,0.0,98146,47.5107,-122.362,1830,7200
21594,1523300141,6/23/2014,402101.0,2,0.75,1020,1350,2.0,NO,NONE,...,7 Average,1020,0.0,2009,0.0,98144,47.5944,-122.299,1020,2007
21595,291310100,1/16/2015,400000.0,3,2.50,1600,2388,2.0,NaN,NONE,...,8 Good,1600,0.0,2004,0.0,98027,47.5345,-122.069,1410,1287
21596,1523300157,10/15/2014,325000.0,2,0.75,1020,1076,2.0,NO,NONE,...,7 Average,1020,0.0,2008,0.0,98144,47.5941,-122.299,1020,1357

In [3]:
# Validating the columns
def read_columns(data):
    """A simple function to display the columns"""
    print(f"Columns included in the dataset are: {list(data.columns)}")
    
read_columns(df)

Columns included in the dataset are: ['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade', 'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode', 'lat', 'long', 'sqft_living15', 'sqft_lot15']

### Getting information about the data

In [4]:
# Getting the shape and info of the data
def get_info_shape(data):
    """A simple function to get the general information of the data"""
    
    print(data.info())
    print('+++++++++++++++++++++++++++++++++++++++++++++++++')
    print('+++++++++++++++++++++++++++++++++++++++++++++++++')
    print(f"""
          The shape the dataset is: {data.shape}
          with number of columns as {data.shape[0]}
          and the number of rows as {data.shape[1]}
          """)

get_info_shape(df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21597 entries, 0 to 21596
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21597 non-null  int64
 1   date           21597 non-null  object
 2   price          21597 non-null  float64
 3   bedrooms       21597 non-null  int64
 4   bathrooms      21597 non-null  float64
 5   sqft_living    21597 non-null  int64
 6   sqft_lot       21597 non-null  int64
 7   floors         21597 non-null  float64
 8   waterfront     19221 non-null  object
 9   view           21534 non-null  object
 10  condition      21597 non-null  object
 11  grade          21597 non-null  object
 12  sqft_above     21597 non-null  int64
 13  sqft_basement  21597 non-null  object
 14  yr_built       21597 non-null  int64
 15  yr_renovated   17755 non-null  float64
 16  zipcode        21597 non-null  int64
 17  lat            21597 non-null  float64
 18  long           21597 non-null  float64
 19  sqft_living15  21597 non-null  int64
 20  sqft_lot15     21597 non-null  int64
dtypes: float64(6), int64(9), object(6)
memory usage: 3.5+ MB
None
+++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++

          The shape the dataset is: (21597, 21)
          with number of columns as 21597
          and the number of rows as 21

### Checking and dropping duplicated Values

In [5]:
# Checking for duplicated entry percentages
def check_duplicates(data):
    """A simple function to check for duplicated entry percentages in the data"""
    freq_dict = {}
    for elem in data:
        if elem in freq_dict:
            freq_dict[elem] += 1
        else:
            freq_dict[elem] = 1
    
    num_duplicates = 0
    for freq in freq_dict.values():
        if freq > 1:
            num_duplicates += 1
    
    percentage_duplicates = (num_duplicates / len(data)) * 100
    
    return percentage_duplicates

print(f"""
      We have {check_duplicates(df)}% of duplicates in our dataset
      """)
print(f"""
      We have a total of {df['id'].duplicated().sum()} duplicates out of {df.shape[0]} entries
      which corresponds to {round(check_duplicates(df['id']),2)}% of duplicates in the house unique identifier 'id'
      """)

      We have 0.0% of duplicates in our dataset


      We have a total of 177 duplicates out of 21597 entries
      which corresponds to 0.81% of duplicates in the house unique identifier 'id'

Visualizations of the missing data

>> #### The column "id" is a unique identifier for a house and thus we drop those that are duplicated and retain the first entry. Inplace= True is added to ensure the change is carried foward when the data is called again

* #### This is confirmed using the ```.shape``` method

In [6]:
# Permanently dropping duplicates from the subset "id"
def drop_duplicates(data, subset):
    """A simple function to drop duplicates in a subset"""
    print(data.drop_duplicates(subset=subset, keep='first', inplace=True))
    
drop_duplicates(df, "id")

None

In [7]:
# confirming dropped rows using the shape
get_info_shape(df)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21420 entries, 0 to 21596
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21420 non-null  int64
 1   date           21420 non-null  object
 2   price          21420 non-null  float64
 3   bedrooms       21420 non-null  int64
 4   bathrooms      21420 non-null  float64
 5   sqft_living    21420 non-null  int64
 6   sqft_lot       21420 non-null  int64
 7   floors         21420 non-null  float64
 8   waterfront     19067 non-null  object
 9   view           21357 non-null  object
 10  condition      21420 non-null  object
 11  grade          21420 non-null  object
 12  sqft_above     21420 non-null  int64
 13  sqft_basement  21420 non-null  object
 14  yr_built       21420 non-null  int64
 15  yr_renovated   17616 non-null  float64
 16  zipcode        21420 non-null  int64
 17  lat            21420 non-null  float64
 18  long           21420 non-null  float64
 19  sqft_living15  21420 non-null  int64
 20  sqft_lot15     21420 non-null  int64
dtypes: float64(6), int64(9), object(6)
memory usage: 3.6+ MB
None
+++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++

          The shape the dataset is: (21420, 21)
          with number of columns as 21420
          and the number of rows as 21

### Checking and Dropping Null Values

In [8]:
# Checking for null values in the dataset
def drop_null(data, subset, axis): # Subset should be a list
    """A simple function to find null entries and drop them"""
    print(f"{df.isna().sum()}")
    df.dropna(subset=subset, inplace=True, axis=axis)

drop_null(df, ['yr_renovated', 'waterfront'], 0)

id                  0
date                0
price               0
bedrooms            0
bathrooms           0
sqft_living         0
sqft_lot            0
floors              0
waterfront       2353
view               63
condition           0
grade               0
sqft_above          0
sqft_basement       0
yr_built            0
yr_renovated     3804
zipcode             0
lat                 0
long                0
sqft_living15       0
sqft_lot15          0
dtype: int64

In [9]:
# Confirming the dropped columns
get_info_shape(df)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15691 entries, 1 to 21596
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             15691 non-null  int64
 1   date           15691 non-null  object
 2   price          15691 non-null  float64
 3   bedrooms       15691 non-null  int64
 4   bathrooms      15691 non-null  float64
 5   sqft_living    15691 non-null  int64
 6   sqft_lot       15691 non-null  int64
 7   floors         15691 non-null  float64
 8   waterfront     15691 non-null  object
 9   view           15644 non-null  object
 10  condition      15691 non-null  object
 11  grade          15691 non-null  object
 12  sqft_above     15691 non-null  int64
 13  sqft_basement  15691 non-null  object
 14  yr_built       15691 non-null  int64
 15  yr_renovated   15691 non-null  float64
 16  zipcode        15691 non-null  int64
 17  lat            15691 non-null  float64
 18  long           15691 non-null  float64
 19  sqft_living15  15691 non-null  int64
 20  sqft_lot15     15691 non-null  int64
dtypes: float64(6), int64(9), object(6)
memory usage: 2.6+ MB
None
+++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++

          The shape the dataset is: (15691, 21)
          with number of columns as 15691
          and the number of rows as 21

* ##### In the above cells, we dropped rows with null values in the categorical columns as it would not be wise to fill them with biased information.